#profPic{
    width: 250px;
    border-radius: 50%;
}
.bio{
    background-color: aliceblue;
}
.navigation{
    background-color: red;
}
.video{ 
    background-color: blue;
}
.projects{
    background-color: purple;
}